<% if(opp_match) %>
  <ul>

  <% if user_match.status == GamesHelper::REQUEST %>
    <li>
      <p class="user_list"><%= "#{opp_match.user.name}へ対戦を申し込んでいます" %></p>
      <%= form_with(model: user_match, local: false, class: "user_list") do |f|%>
        <div><%= hidden_field_tag :opponent_id, opp_match.user_id %></div>
        <div><%= hidden_field_tag :status, GamesHelper::DECLINE %></div>
        <%= f.submit "取り消し", class: "btn btn-default" %>
      <% end %>
    </li>
  <% elsif user_match.status == GamesHelper::WAITING %>
    <li>
      <p class="user_list"><%= "#{opp_match.user.name}から対戦を申し込まれています" %></p>
  
      <%#= link_to "承諾", match_path(@opponent, opponent_id: @user.id, status: 3) , method: :patch %>
      <%= form_with(model: user_match, method: :patch, local: false, class: "user_list") do |f|%>
        <div><%= hidden_field_tag :opponent_id, opp_match.user_id %></div>
        <div><%= hidden_field_tag :status, GamesHelper::PLAYING %></div>
        <%= f.submit "承諾", class: "btn btn-default" %>
      <% end %>
      
      <%#= link_to "拒否", match_path(@opponent, opponent_id: @user.id, status: 2) , method: :patch %>
      <%= form_with(model: user_match, method: :patch, local: false, class: "user_list") do |f|%>
        <div><%= hidden_field_tag :opponent_id, opp_match.user_id %></div>
        <div><%= hidden_field_tag :status, GamesHelper::DECLINE %></div>
        <%= f.submit "拒否", class: "btn btn-default" %>
      <% end %>
    </li>
  <% end %>
  
  </ul>
<% end %>