<% if game.turn == GamesHelper::FIRST %>
 <% turn = "先手" %>
<% elsif game.turn == GamesHelper::SECOND %>
 <% turn = "後手" %>
<% else %>
 <% turn = "エラーが発生しました" %>
<% end %>
<p><%= "現在の手番:#{turn}"%></p>

<table border=0 class="displayBoard">
  
  <tr>
    <% for col in order %>
    <td class="textCenter">
      <%= GamesHelper::X[col]%>
    </td>
    <% end %>
  </tr>
    
  <tbody class="board_table">
    <% for row in order %>
    <tr>
      <% for col in order %>
      <% pos = row*9 + col %>
      <td class="board_cell">
        <% image_path = get_image_path(game.board[pos], game.turn_board[pos].to_i) %>
        <% before_pos, after_pos, isPromote = getParams(before, after, promote, pos)%>
        
        <%= form_with(model: game, local: false) do |f| %>
          <%= f.hidden_field :before,  value: before_pos  %>
          <%= f.hidden_field :after,   value: after_pos  %>
          <%= f.hidden_field :promote, value: isPromote  %>
          <%= button_tag type: :submit do %>
            <%= image_tag(image_path, size: '50x50', id: pos) %>
          <% end %>
        <% end %>
        
      </td>
      <% end %>
      <td>
        <%= GamesHelper::Y[row] %>
      </td>
    </tr>
    <% end %>
    
    <%= render 'display_own_piece', {game: game, id_name: :front, turn: display} %>
    <%= render 'display_own_piece', {game: game, id_name: :back,  turn: display^3} %>
  </tbody>
</table>

<div id="confirmPromote" class="backFull" hidden>
  <% image_path_not_promote = get_image_path(@piece, @my_turn) %>
  <% image_path_promote     = get_image_path(@game.get_promote_piece(@piece), @my_turn) %>
  
  <ul class="center_ul">
    <%= render 'confirm', {game: @game, id_name: :notPromote, 
                           before_pos: @before_pos, after_pos: @after_pos , 
                           is_promote: false, image: image_path_not_promote} %>
                           
    <%= render 'confirm', {game: @game, id_name: :promote, 
                           before_pos: @before_pos, after_pos: @after_pos , 
                           is_promote: true, image: image_path_promote} %>
  </ul>
</div>

<div id="finish" class="backFull" hidden>
  <% winner = params[:before].to_s %>
  <% if @game.winner == @my_turn %>
    <% image_path = "/shogi/pose_win.png" %>
  <% elsif @game.winner == @my_turn^3 %>
    <% image_path = "/shogi/pose_lose.png" %>
  <% else %>
    <% image_path = "/shogi/pose_draw.png" %>
  <% end %>
  
  <div class="center">
    <%= link_to image_tag(image_path), match_path(@user.match.id), method: :delete,
      data: 
      { confirm: "ホーム画面に戻りますか？"} %>
  </div>
</div>