<p><%= "先手:#{@game.first_user_id}" %></p>
<p><%= "後手:#{@game.second_user_id}" %></p>

<% if @game.turn == 1 %>
 <% turn = "先手" %>
<% elsif @game.turn == 2 %>
 <% turn = "後手" %>
<% else %>
 <% turn = "エラーが発生しました" %>
<% end %>
<p><%= "現在の手番:#{turn}"%></p>

<div class="board_table">
<table border=1>
  <tr>
    <% for col in @order %>
    <td>
      <%= @X[col]%>
    </td>
    <% end %>
  </tr>

  <% for row in @order %>
  <tr>
    <% for col in @order %>
    <% pos = row*9 + col %>
    <td id="<%= pos %>"  class="board">
      <% image_path = get_image_path(@game.board[pos].to_i, @game.turn_board[pos].to_i) %>
      <%= link_to(image_tag(image_path, size: '50x50'), get_link_path(edit, pos), method: method) %>
    </td>
    <% end %>
    <td>
      <%= @Y[row] %>
    </td>
  </tr>
  <% end %>
  
  <%= render 'display_own_piece', {class_name: "front", turn: @display, edit: edit, method: method} %>
  <%= render 'display_own_piece', {class_name: :back, turn: @display^3, edit: edit, method: method} %>
</table>
</div>
