<!--<h1>Games#confirm</h1>-->
<!--<p>Find me in app/views/games/edit.html.erb</p>-->

<!--<div id="backRegion">-->
  <%# before_pos   = params[:game][:before].to_i %>
  <%# after_pos    = params[:game][:after].to_i %>
<!--  <% piece = @game.board[@before_pos] %>-->
<!--  <% turn  = @game.turn_board[@before_pos].to_i %>-->
<!--  <% image_path_not_promote = get_image_path(piece, turn) %>-->
<!--  <% image_path_promote     = get_image_path(@game.get_promote_piece(piece), turn) %>-->
  
  <%#= link_to(image_tag(image_path_not_promote, size: '50x50'), game_path(@game, before: params[:before], after: params[:after], promote: false), method: :patch) %>
  <%#= link_to(image_tag(image_path_promote, size: '50x50'), game_path(@game, before: params[:before], after: params[:after], promote: true), method: :patch) %>
<!--  <div class="notPromote">-->
<!--    <%= form_with(model: @game, local: false) do |f| %>-->
<!--      <%= f.hidden_field :before,  value: @before_pos %>-->
<!--      <%= f.hidden_field :after,   value: @after_pos  %>-->
<!--      <%= f.hidden_field :promote, value: false  %>-->
<!--      <%= button_tag type: :submit do %>-->
<!--        <%= image_tag(image_path_not_promote, size: '50x50', id: @before_pos) %>-->
<!--      <% end %>-->
<!--    <% end %>-->
<!--  </div>-->
  
<!--  <div class="promote">-->
<!--    <%= form_with(model: @game, local: false) do |f| %>-->
<!--      <%= f.hidden_field :before,  value: @before_pos %>-->
<!--      <%= f.hidden_field :after,   value: @after_pos  %>-->
<!--      <%= f.hidden_field :promote, value: true  %>-->
<!--      <%= button_tag type: :submit do %>-->
<!--        <%= image_tag(image_path_promote, size: '50x50', id: @before_pos) %>-->
<!--      <% end %>-->
<!--    <% end %>-->
<!--  </div>-->
<!--</div>-->

<!--<%= render 'display_field', {game: @game, display: @display, order: @order, before: -1, after: -1, promote: -1}%>-->