<h1>対局</h1>
<p id="GameID" hidden><%= @game.id %></p>

<!--<%# if @my_turn == GamesHelper::FIRST %>-->
<!-- <%# my_turn_str = "先手" %>-->
<!--<%# elsif @my_turn == GamesHelper::SECOND %>-->
<!-- <%# my_turn_str = "後手" %>-->
<!--<%# else %>-->
<!-- <%# my_turn_str = "エラーが発生しました" %>-->
<!--<%# end %>-->
<!--<p><%#= "あなたの手番：#{my_turn_str}"  %></p>-->

<div class="displayField">
  <%= render 'display_field', {game: @game, display: @display, order: @order, before: -1, after: -1, promote: -1} %>
</div>

<div class="displayCheckBox" onclick="document.getElementById('editBoard').submit()">
  <%= form_with(url: "/games/#{@game.id}/editBoard", model: @game, local: true, id: "editBoard") do |f| %>
    <% if @my_turn == GamesHelper::FIRST %>
      <%= f.label "反転(先手)" %>
      <%= f.check_box :first_board, checked: is_reverse?(@display) %>
    <% elsif @my_turn == GamesHelper::SECOND %>
      <%= f.label "反転(後手)" %>
      <%= f.check_box :second_board, checked: is_reverse?(@display) %>
    <% end %>
  <% end %>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    if(0 != <%= @game.winner %>){
      $("#finish").show();
    }
  });
</script>
