<h1>Games#show</h1>
<p>Find me in app/views/games/show.html.erb</p>

<%= render 'display_field', {edit: false, method: :get} %>

<div onclick="document.forms[0].submit()">
  <%= form_with(url: "/games/#{@game.id}/editBoard", model: @game, local: true) do |f| %>
    <% if @my_turn == @first %>
      <%= f.label "反転(先手)" %>
      <%= f.check_box :first_board, checked: is_reverse?(@display) %>
    <% elsif @my_turn == @second %>
      <%= f.label "反転(後手)" %>
      <%= f.check_box :second_board, checked: is_reverse?(@display) %>
    <% end %>
  <% end %>
</div>
