<h1>対局室</h1>
<p hidden>UserID:<span id="UserID"><%= "#{@user.id}" %></span></p>
<h2>対戦待ちユーザー</h2>

<div id="requestTable">
  <%= render 'request_table', {user_match: @match, opp_match: @opponent} %>
</div>

<div id="matchTable">
  <%= render 'match_table', {user_match: @match, user_matches: @matches} %>
</div>

<%= form_with(model: @match,method: :delete, local: true) do |f|%>
  <%= f.submit "退出する", class: "btn btn-primary" %>
<% end %>

